body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #8d3ee2, #0d2a5c);
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
}

.store-badge {
    width: 150px;
    height: auto;
}

.privacy-policy {
    font-size: larger;
    color: white;
    margin-right: 14%;
    padding-bottom: 5%;
    margin-left: 14%;
}