body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #8d3ee2, #0d2a5c);
    font-family: Arial, sans-serif;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

header {
    position: absolute;
    top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    text-align: center;
}

.store-badge {
    width: 150px;
    height: auto;
}

.privacy-policy {
    font-size: larger;
    color: white;
    margin-right: 14%;
    padding-bottom: 5%;
    margin-left: 14%;
}